.index-page {
  display: flex;
  background: $color-grayLight;

  &__sidebar {
    input {
      width: 200px;
      height: 40px;
      padding: 10px;
      font-size: 20px;
      outline: none;
      border: 4px solid $color-gray;
      box-sizing: border-box;
    }
  }

  &__content {
    padding: 40px;
    width: 100%;
  }
}